# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/
cp_etl_cc/pyvenv.cfg
cp_etl_cc/Scripts/activate
cp_etl_cc/Scripts/activate.bat
cp_etl_cc/Scripts/Activate.ps1
cp_etl_cc/Scripts/deactivate.bat
cp_etl_cc/Scripts/pip.exe
cp_etl_cc/Scripts/pip3.11.exe
cp_etl_cc/Scripts/pip3.exe
cp_etl_cc/Scripts/python.exe
cp_etl_cc/Scripts/pythonw.exe
requirements.txt
cp_etl_cc/Include/site/python3.11/greenlet/greenlet.h
cp_etl_cc/Scripts/aws
cp_etl_cc/Scripts/aws_bash_completer
cp_etl_cc/Scripts/aws_completer
cp_etl_cc/Scripts/aws_zsh_completer.sh
cp_etl_cc/Scripts/aws.cmd
cp_etl_cc/Scripts/coverage-3.11.exe
cp_etl_cc/Scripts/coverage.exe
cp_etl_cc/Scripts/coverage3.exe
cp_etl_cc/Scripts/dotenv.exe
cp_etl_cc/Scripts/f2py.exe
cp_etl_cc/Scripts/flake8.exe
cp_etl_cc/Scripts/google-oauthlib-tool.exe
cp_etl_cc/Scripts/jp.py
cp_etl_cc/Scripts/normalizer.exe
cp_etl_cc/Scripts/pybabel.exe
cp_etl_cc/Scripts/pycodestyle.exe
cp_etl_cc/Scripts/pyflakes.exe
cp_etl_cc/Scripts/pygmentize.exe
cp_etl_cc/Scripts/pyrsa-decrypt.exe
cp_etl_cc/Scripts/pyrsa-encrypt.exe
cp_etl_cc/Scripts/pyrsa-keygen.exe
cp_etl_cc/Scripts/pyrsa-priv2pub.exe
cp_etl_cc/Scripts/pyrsa-sign.exe
cp_etl_cc/Scripts/pyrsa-verify.exe
cp_etl_cc/Scripts/rst2html.py
cp_etl_cc/Scripts/rst2html4.py
cp_etl_cc/Scripts/rst2html5.py
cp_etl_cc/Scripts/rst2latex.py
cp_etl_cc/Scripts/rst2man.py
cp_etl_cc/Scripts/rst2odt_prepstyles.py
cp_etl_cc/Scripts/rst2odt.py
cp_etl_cc/Scripts/rst2pseudoxml.py
cp_etl_cc/Scripts/rst2s5.py
cp_etl_cc/Scripts/rst2xetex.py
cp_etl_cc/Scripts/rst2xml.py
cp_etl_cc/Scripts/rstpep2html.py
cp_etl_cc/Scripts/sphinx-apidoc.exe
cp_etl_cc/Scripts/sphinx-autogen.exe
cp_etl_cc/Scripts/sphinx-build.exe
cp_etl_cc/Scripts/sphinx-quickstart.exe
